header.masthead {
    background-image: url("../assets/img/header-bg.webp");
}

section#contact{
    background-image: url("../assets/img/map-image.webp");
}

#mainNav .navbar-brand img {
    height: 5rem;
}

#mainNav{
    background-color: #1b2538;
}