header.masthead {
    background-image: url("../assets/img/header-bg.webp");
}

section#contact{
    background-image: url("../assets/img/map-image.webp");
}

#mainNav .navbar-brand img {
    height: 5rem;
}

#mainNav{
    background-color: #1b2538;
}

.code1, .code2{
    border-radius: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Pour les articles */

#portfolio .portfolio-item .portfolio-link {
    min-height: 330px;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

/* pour les blocs de 3 articles */

.row {
    flex-wrap: nowrap;
}

/* img vpn */

.img-margin-bottom {
    margin-bottom: 10px;
}

